@font-face {
	font-family: 'lemon';
	src: url('../fonts/LemonMilk.otf');
	font-weight: normal;
	font-style: normal;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #2196f3 ;
}
.input-field input[type=number]:focus + label {
	color: #2196f3 ;
}
.input-field input[type=date]:focus + label {
	color: #2196f3 ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #2196f3 ;
	box-shadow: 0 1px 0 0 #2196f3 ;
}
.input-field input[type=number]:focus {
	border-bottom: 1px solid #2196f3 ;
	box-shadow: 0 1px 0 0 #2196f3 ;
}
.input-field input[type=date]:focus {
	border-bottom: 1px solid #2196f3 ;
	box-shadow: 0 1px 0 0 #2196f3 ;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color:#e53935 ;
}
#header{
	background: url(../img/bg-awal.png);
	background-size:100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 630px;
}
#maskot{
	height: auto;
}
#logoutama{
	height: auto;
	padding: 25px 0px 0px;
}
#foto-member{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	height: 250px;
	display: inline-block;
}
.box-tukang{
	height: auto;
	padding: 0px 0px !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: 140% 120% !important;
	margin-top:2vh;
	border: 5px solid white;
	transition-duration: 0.5s;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
}
.ireng{
	position: relative;
	height: 100%;
	padding: 3vh 0px !important;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition-duration: 0.5s;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	transform: scale(0.4);
}
.btn-view{
	border-radius: 50px;
	border:1px solid white !important;
	margin-top: 2vh;
	transform:translateY(35px);
	transition-duration: 0.5s;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	transition-delay: 0.1s;
	-webkit-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
}
.box-tukang:hover{
	background-size: 120% 100% !important;
}
.box-tukang:hover .ireng{
	opacity: 1;
	transform:scale(1);
}
.box-tukang:hover .btn-view{
	transform:translateY(0px);
}
#kotak-akun{
	position: absolute;
	z-index: 99;
	right: 0px;
	height:auto;
	width: 400px;
	padding: 15px 10px;
}
#foto-akun{
	width: 120px;
	height: 120px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	border-radius: 100%;
	left: 10px;
	border: 2px solid #2196f3;
}
.breadcrumb{
	font-size: 15px !important;
}
.box-booking{
	border-top: 5px solid  #2196f3;
	padding: 0px 10px !important;
}
.kiri{
	padding: 15px 10px !important;
	margin-top: -15px;
	margin-bottom: -15px;
	border-bottom: 5px solid #2196f3;
}
.kanan{
	padding: 15px 10px !important;
	margin-top: -15px;
	margin-bottom: -15px;
	border-bottom: 5px solid #2196f3;
}
.foto-booking-tukang{
	height: 250px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
@media only screen and (max-width: 768px){
	#header{
		background-size: cover;
	}
	#maskot{
		padding-top: 5vh;
	}
	#foto-member{
		height: 230px;
	}
	.kiri{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.kanan{
		margin-top: 0px;
		margin-bottom: 0px;
	}
}